# Introduction to Python pandas

## Table of contents

1. <a href="#1.-What-is-pandas%3F-%28video%29">What is pandas?</a>
2. <a href="#2.-How-do-I-read-a-tabular-data-file-into-pandas%3F-%28video%29">How do I read a tabular data file into pandas?</a>
3. <a href="#3.-How-do-I-select-a-pandas-Series-from-a-DataFrame%3F-%28video%29">How do I select a pandas Series from a DataFrame?</a>
4. <a href="#4.-Why-do-some-pandas-commands-end-with-parentheses-%28and-others-don't%29%3F-%28video%29">Why do some pandas commands end with parentheses (and others don't)?</a>
5. <a href="#5.-How-do-I-rename-columns-in-a-pandas-DataFrame%3F-%28video%29">How do I rename columns in a pandas DataFrame?</a>
6. <a href="#6.-How-do-I-remove-columns-from-a-pandas-DataFrame%3F-%28video%29">How do I remove columns from a pandas DataFrame?</a>
7. <a href="#7.-How-do-I-sort-a-pandas-DataFrame-or-a-Series%3F-%28video%29">How do I sort a pandas DataFrame or a Series?</a>
8. <a href="#8.-How-do-I-filter-rows-of-a-pandas-DataFrame-by-column-value%3F-%28video%29">How do I filter rows of a pandas DataFrame by column value?</a>
9. <a href="#9.-How-do-I-apply-multiple-filter-criteria-to-a-pandas-DataFrame%3F-%28video%29">How do I apply multiple filter criteria to a pandas DataFrame?</a>
10. <a href="#10.-Your-pandas-questions-answered%21-%28video%29">Your pandas questions answered!</a>
11. <a href="#11.-How-do-I-use-the-%22axis%22-parameter-in-pandas%3F-%28video%29">How do I use the "axis" parameter in pandas?</a>
12. <a href="#12.-How-do-I-use-string-methods-in-pandas%3F-%28video%29">How do I use string methods in pandas?</a>
13. <a href="#13.-How-do-I-change-the-data-type-of-a-pandas-Series%3F-%28video%29">How do I change the data type of a pandas Series?</a>
14. <a href="#14.-When-should-I-use-a-%22groupby%22-in-pandas%3F-%28video%29">When should I use a "groupby" in pandas?</a>
15. <a href="#15.-How-do-I-explore-a-pandas-Series%3F-%28video%29">How do I explore a pandas Series?</a>
16. <a href="#16.-How-do-I-handle-missing-values-in-pandas%3F-%28video%29">How do I handle missing values in pandas?</a>
17. <a href="#17.-What-do-I-need-to-know-about-the-pandas-index%3F-%28Part-1%29-%28video%29">What do I need to know about the pandas index? (Part 1)</a>
18. <a href="#18.-What-do-I-need-to-know-about-the-pandas-index%3F-%28Part-2%29-%28video%29">What do I need to know about the pandas index? (Part 2)</a>
19. <a href="#19.-How-do-I-select-multiple-rows-and-columns-from-a-pandas-DataFrame%3F-%28video%29">How do I select multiple rows and columns from a pandas DataFrame?</a>
20. <a href="#20.-When-should-I-use-the-%22inplace%22-parameter-in-pandas%3F-%28video%29">When should I use the "inplace" parameter in pandas?</a>
21. <a href="#21.-More-of-your-pandas-questions-answered%21-%28video%29">More of your pandas questions answered!</a>
22. <a href="#22.-How-do-I-create-map-variables-in-pandas%3F-%28video%29">How do I create map variables in pandas?</a>
23. <a href="#23.-How-do-I-work-with-dates-and-times-in-pandas%3F-%28video%29">How do I work with dates and times in pandas?</a>
24. <a href="#24.-How-do-I-find-and-remove-duplicate-rows-in-pandas%3F-%28video%29">How do I find and remove duplicate rows in pandas?</a>
25. <a href="#25.-How-do-I-create-a-pandas-DataFrame-from-another-object%3F-%28video%29">How do I create a pandas DataFrame from another object?</a>

In [ ]:
# conventional way to import pandas
import pandas as pd

## 1. What is pandas?
- [pandas main page](http://pandas.pydata.org/)
- [pandas installation instructions](http://pandas.pydata.org/pandas-docs/stable/install.html)
- [Anaconda distribution of Python](https://www.continuum.io/downloads) (includes pandas)

## 2. How do I read a tabular data file into pandas?

In [ ]:
pd.read_table('C:/Preema/Other_Respo/Python Training/Datasets/chipotle.tsv')

In [ ]:
# read a dataset of Chipotle orders directly from a URL and store the results in a DataFrame
orders = pd.read_table('C:/Preema/Other_Respo/Python Training/Datasets/chipotle.tsv')
orders

In [ ]:
# examine the first 5 rows
orders.head(3)

Documentation for [**`read_table`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html)

In [ ]:
users = pd.read_table('C:/Preema/Other_Respo/Python Training/Datasets/movieusers.txt')
users.head()

In [ ]:
users = pd.read_table('C:/Preema/Other_Respo/Python Training/Datasets/movieusers.txt',sep='|')
users.head()

In [ ]:
users = pd.read_table('C:/Preema/Other_Respo/Python Training/Datasets/movieusers.txt',sep='|',header=None)
users.head()

In [ ]:
# read a dataset of movie reviewers (modifying the default parameter values for read_table)
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('C:/Preema/Other_Respo/Python Training/Datasets/movieusers.txt', sep='|', header=None, names=user_cols)

In [ ]:
# examine the first 5 rows
users.head()

## 3. How do I select a pandas Series from a DataFrame?

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_table('C:/Preema/Other_Respo/Python Training/Datasets/uforeports.csv', sep=',')

In [ ]:
# read_csv is equivalent to read_table, except it assumes a comma separator
ufo = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/uforeports.csv')

In [ ]:
# examine the first 5 rows
ufo.head()

In [ ]:
ufo['City']

In [ ]:
# select the 'City' Series using bracket notation
#ufo['City'].head()

# or equivalently, use dot notation
ufo.Colors Reported

In [ ]:
type(ufo['City'])

**Bracket notation** will always work, whereas **dot notation** has limitations:

- Dot notation doesn't work if there are **spaces** in the Series name
- Dot notation doesn't work if the Series has the same name as a **DataFrame method or attribute** (like 'head' or 'shape')
- Dot notation can't be used to define the name of a **new Series** (see below)

In [ ]:
# create a new 'Location' Series (must use bracket notation to define the Series name)
ufo['Location'] = ufo.City + ', ' + ufo.State
ufo.head()

## 4. Why do some pandas commands end with parentheses (and others don't)?

In [ ]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/imdb.csv')

**Methods** end with parentheses, while **attributes** don't:

In [ ]:
# example method: show the first 5 rows
movies.head()

In [ ]:
# example method: calculate summary statistics
movies.describe()

In [ ]:
# example attribute: number of rows and columns
movies.shape

In [ ]:
# example attribute: data type of each column
movies.dtypes

In [ ]:
# use an optional parameter to the describe method to summarize only 'object' columns
movies.describe(include=['object'])

In [ ]:
# only include numeric columns in the DataFrame
import numpy as np
movies.select_dtypes(include=[np.number]).dtypes

Documentation for [**`describe`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html)

## 5. How do I rename columns in a pandas DataFrame?

In [ ]:
import pandas as pd

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/uforeports.csv')

In [ ]:
ufo.head()

In [ ]:
type(ufo)

In [ ]:
type(ufo.City)

In [ ]:
# examine the column names
ufo.columns

In [ ]:
# rename two of the columns by using the 'rename' method
ufo.rename(columns={'Colors Reported':'Colors_Reported', 'Shape Reported':'Shape_Reported'})
ufo.columns

In [ ]:
# rename two of the columns by using the 'rename' method
ufo.rename(columns={'Colors Reported':'Colors_Reported', 'Shape Reported':'Shape_Reported'}, inplace=True)
ufo.columns

In [ ]:
# rename two of the columns by using the 'rename' method
ufo = ufo.rename(columns={'Colors Reported':'Colors_Reported', 'Shape Reported':'Shape_Reported'})
ufo.columns

Documentation for [**`rename`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.rename.html)

In [ ]:
# replace all of the column names by overwriting the 'columns' attribute
ufo_cols = ['city', 'colors reported', 'shape reported', 'state', 'time']
ufo.columns = ufo_cols
ufo.columns

In [ ]:
# replace the column names during the file reading process by using the 'names' parameter
ufo = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/uforeports.csv', header=0,names=ufo_cols)
ufo.columns

Documentation for [**`read_csv`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

In [ ]:
# replace all spaces with underscores in the column names by using the 'str.replace' method
ufo.columns = ufo.columns.str.replace(' ', '_')
ufo.columns

Documentation for [**`str.replace`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.replace.html)

## 6. How do I remove columns from a pandas DataFrame?

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/uforeports.csv')
ufo

In [ ]:
# remove a single column (axis=1 refers to columns)
ufo.drop('Colors Reported', axis=1, inplace=True)
ufo

Documentation for [**`drop`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [ ]:
# remove multiple columns at once
ufo.drop(['City', 'State'], axis=1, inplace=True)
ufo.head()

In [ ]:
# remove multiple rows at once (axis=0 refers to rows)
ufo.drop([0, 1], axis=0, inplace=True)
ufo.head()

In [ ]:
# remove multiple rows at once (axis=0 refers to rows)
ufo.drop(ufo.index[4:6],axis=0, inplace=True)
ufo.head()

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/uforeports.csv')
ufo[ufo.State != 'NY'].head()

## 7. How do I sort a pandas DataFrame or a Series?

In [ ]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/imdb.csv')
movies.head()

**Note:** None of the sorting methods below affect the underlying data. (In other words, the sorting is temporary).

In [ ]:
# sort the 'title' Series in ascending order (returns a Series)
movies.title.sort_values()

In [ ]:
# sort in descending order instead
movies.title.sort_values(ascending=False).head()

Documentation for [**`sort_values`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sort_values.html) for a **Series**. (Prior to version 0.17, use [**`order`**](http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.Series.order.html) instead.)

In [ ]:
# sort the entire DataFrame by the 'title' Series (returns a DataFrame)
movies.sort_values('title').head()

In [ ]:
# sort in descending order instead
movies.sort_values('title', ascending=False).head()

Documentation for [**`sort_values`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html) for a **DataFrame**. (Prior to version 0.17, use [**`sort`**](http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.sort.html) instead.)

In [ ]:
# sort the DataFrame first by 'content_rating', then by 'duration'
movies.sort_values(['content_rating', 'duration']).head()

[Summary of changes to the sorting API](http://pandas.pydata.org/pandas-docs/stable/whatsnew.html#changes-to-sorting-api) in pandas 0.17

## 8. How do I filter rows of a pandas DataFrame by column value?

In [ ]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/imdb.csv')
movies.head()

In [ ]:
# examine the number of rows and columns
movies.shape

**Goal:** Filter the DataFrame rows to only show movies with a 'duration' of at least 200 minutes.

In [ ]:
# create a list in which each element refers to a DataFrame row: True if the row satisfies the condition, False otherwise
booleans = []
for length in movies.duration:
    if length >= 200:
        booleans.append(True)
    else:
        booleans.append(False)

In [ ]:
# confirm that the list has the same length as the DataFrame
len(booleans)

In [ ]:
# examine the first five list elements
booleans[0:5]

In [ ]:
# convert the list to a Series
is_long = pd.Series(booleans)
is_long.head()

In [ ]:
# use bracket notation with the boolean Series to tell the DataFrame which rows to display
movies[is_long]

In [ ]:
# simplify the steps above: no need to write a for loop to create 'is_long' since pandas will broadcast the comparison
is_long = movies.duration >= 200
movies[is_long]

In [ ]:
# or equivalently, write it in one line (no need to create the 'is_long' object)
movies[movies.duration >= 200]

In [ ]:
# select the 'genre' Series from the filtered DataFrame
movies[movies.duration >= 200].genre

In [ ]:
# or equivalently, use the 'loc' method
movies.loc[movies.duration >= 200, 'genre']

Documentation for [**`loc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)

## 9. How do I apply multiple filter criteria to a pandas DataFrame?

In [ ]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/imdb.csv')
movies.head()

In [ ]:
# filter the DataFrame to only show movies with a 'duration' of at least 200 minutes
movies[movies.duration >= 200]

Understanding **logical operators:**

- **`and`**: True only if **both sides** of the operator are True
- **`or`**: True if **either side** of the operator is True

In [ ]:
# demonstration of the 'and' operator
print(True and True)
print(True and False)
print(False and False)

In [ ]:
# demonstration of the 'or' operator
print(True or True)
print(True or False)
print(False or False)

Rules for specifying **multiple filter criteria** in pandas:

- use **`&`** instead of **`and`**
- use **`|`** instead of **`or`**
- add **parentheses** around each condition to specify evaluation order

**Goal:** Further filter the DataFrame of long movies (duration >= 200) to only show movies which also have a 'genre' of 'Drama'

In [ ]:
# CORRECT: use the '&' operator to specify that both conditions are required
movies[(movies.duration >=200) & (movies.genre == 'Drama')]

In [ ]:
# INCORRECT: using the '|' operator would have shown movies that are either long or dramas (or both)
movies[(movies.duration >=200) | (movies.genre == 'Drama')].head()

**Goal:** Filter the original DataFrame to show movies with a 'genre' of 'Crime' or 'Drama' or 'Action'

In [ ]:
# use the '|' operator to specify that a row can match any of the three criteria
movies[(movies.genre == 'Crime') | (movies.genre == 'Drama') | (movies.genre == 'Action')].head(10)

# or equivalently, use the 'isin' method
movies[movies.genre.isin(['Crime', 'Drama', 'Action'])].head(10)

In [ ]:
# or equivalently, use the 'isin' method
movies[(movies.genre.isin(['Crime', 'Drama', 'Action'])) &  (movies.duration >=200)].head(10)

Documentation for [**`isin`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.isin.html)

## 10. Your pandas questions answered!

**Question:** When reading from a file, how do I read in only a subset of the columns?

In [ ]:
# read a dataset of UFO reports into a DataFrame, and check the columns
ufo = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/uforeports.csv')
ufo.columns

In [ ]:
# specify which columns to include by name
ufo = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/uforeports.csv', usecols=['City', 'State'])
ufo.head()

**Question:** When reading from a file, how do I read in only a subset of the rows?

In [ ]:
# specify how many rows to read
ufo = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/uforeports.csv', nrows=3)
ufo

Documentation for [**`read_csv`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

## 11. How do I use the "axis" parameter in pandas?

In [ ]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/drinksbycountry.csv')
drinks.head()

In [ ]:
# drop a column (temporarily)
drinks.drop('continent', axis=1).head()

Documentation for [**`drop`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [ ]:
# drop a row (temporarily)
drinks.drop(2, axis=0).head()

When **referring to rows or columns** with the axis parameter:

- **axis 0** refers to rows
- **axis 1** refers to columns

In [ ]:
# calculate the mean of each numeric column
drinks.mean()

In [ ]:
# or equivalently, specify the axis explicitly
drinks.mean(axis=0)

Documentation for [**`mean`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.mean.html)

In [ ]:
# calculate the mean of each row
drinks.mean(axis=1).head()

When performing a **mathematical operation** with the axis parameter:

- **axis 0** means the operation should "move down" the row axis
- **axis 1** means the operation should "move across" the column axis

In [ ]:
# 'index' is an alias for axis 0
drinks.mean(axis='index')

In [ ]:
# 'columns' is an alias for axis 1
drinks.mean(axis='columns').head()

## 12. How do I use string methods in pandas?

In [ ]:
# read a dataset of Chipotle orders into a DataFrame
orders = pd.read_table('C:/Preema/Other_Respo/Python Training/Datasets/chipotle.tsv')
orders.head()

In [ ]:
# normal way to access string methods in Python
'hello'.upper()

In [ ]:
# string methods for pandas Series are accessed via 'str'
orders.item_name.str.upper().head()

In [ ]:
# string method 'contains' checks for a substring and returns a boolean Series
orders.item_name.str.contains('Chicken').head()

In [ ]:
# use the boolean Series to filter the DataFrame
orders[orders.item_name.str.contains('Chicken')].head()

In [ ]:
# string methods can be chained together
orders.choice_description.str.replace('[', '').str.replace(']', '').head()

In [ ]:
# many pandas string methods support regular expressions (regex)
orders.choice_description.str.replace('[\[\]]', '').head()

[String handling section](http://pandas.pydata.org/pandas-docs/stable/api.html#string-handling) of the pandas API reference

## 13. How do I change the data type of a pandas Series?

In [ ]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/drinksbycountry.csv')
drinks.head()

In [ ]:
# examine the data type of each Series
drinks.dtypes

In [ ]:
# change the data type of an existing Series
drinks['beer_servings'] = drinks.beer_servings.astype(float)
drinks.dtypes

Documentation for [**`astype`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.astype.html)

In [ ]:
# alternatively, change the data type of a Series while reading in a file
drinks = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/drinksbycountry.csv', dtype={'beer_servings':float})
drinks.dtypes

In [ ]:
# read a dataset of Chipotle orders into a DataFrame
orders = pd.read_table('C:/Preema/Other_Respo/Python Training/Datasets/chipotle.tsv')
orders.head()

In [ ]:
# examine the data type of each Series
orders.dtypes

In [ ]:
# convert a string to a number in order to do math
orders.item_price.str.replace('$', '').astype(float).mean()

In [ ]:
# string method 'contains' checks for a substring and returns a boolean Series
orders.item_name.str.contains('Chicken').head()

In [ ]:
# convert a boolean Series to an integer (False = 0, True = 1)
orders.item_name.str.contains('Chicken').astype(int).head()

## 14. When should I use a "groupby" in pandas?

In [ ]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/drinksbycountry.csv')
drinks.head()

In [ ]:
# calculate the mean beer servings across the entire dataset
drinks.beer_servings.mean()

In [ ]:
# calculate the mean beer servings just for countries in Africa
drinks[drinks.continent=='Africa'].beer_servings.mean()

In [ ]:
# calculate the mean beer servings for each continent
drinks.groupby('continent').beer_servings.max()

Documentation for [**`groupby`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html)

In [ ]:
# other aggregation functions (such as 'max') can also be used with groupby
drinks.groupby('continent').beer_servings.max()

In [ ]:
# multiple aggregation functions can be applied simultaneously
drinks.groupby('continent').beer_servings.agg(['count', 'mean', 'min', 'max'])

Documentation for [**`agg`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.agg.html)

In [ ]:
# specifying a column to which the aggregation function should be applied is not required
drinks.groupby('continent').mean()

In [ ]:
# allow plots to appear in the notebook
%matplotlib inline

In [ ]:
# side-by-side bar plot of the DataFrame directly above
drinks.groupby('continent').mean().plot(kind='bar')

Documentation for [**`plot`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html)

## 15. How do I explore a pandas Series?

In [ ]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/imdb.csv')
movies.head()

In [ ]:
# examine the data type of each Series
movies.dtypes

**Exploring a non-numeric Series:**

In [ ]:
# count the non-null values, unique values, and frequency of the most common value
movies.genre.describe()

Documentation for [**`describe`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.describe.html)

In [ ]:
# count how many times each value in the Series occurs
movies.genre.value_counts()

Documentation for [**`value_counts`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)

In [ ]:
# display percentages instead of raw counts
movies.genre.value_counts(normalize=True)

In [ ]:
# 'value_counts' (like many pandas methods) outputs a Series
type(movies.genre.value_counts())

In [ ]:
# thus, you can add another Series method on the end
movies.genre.value_counts().head()

In [ ]:
# display the unique values in the Series
movies.genre.unique()

In [ ]:
# count the number of unique values in the Series
movies.genre.nunique()

Documentation for [**`unique`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html) and [**`nunique`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.nunique.html)

In [ ]:
# compute a cross-tabulation of two Series
pd.crosstab(movies.genre, movies.content_rating)

Documentation for [**`crosstab`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.crosstab.html)

**Exploring a numeric Series:**

In [ ]:
# calculate various summary statistics
movies.duration.describe()

In [ ]:
# many statistics are implemented as Series methods
movies.duration.mean()

Documentation for [**`mean`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.mean.html)

In [ ]:
# 'value_counts' is primarily useful for categorical data, not numerical data
movies.duration.value_counts().head()

In [ ]:
# allow plots to appear in the notebook
%matplotlib inline

In [ ]:
# histogram of the 'duration' Series (shows the distribution of a numerical variable)
movies.duration.plot(kind='hist')

In [ ]:
# bar plot of the 'value_counts' for the 'genre' Series
movies.genre.value_counts().plot(kind='bar')

Documentation for [**`plot`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.plot.html)

## 16. How do I handle missing values in pandas?

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/uforeports.csv')
ufo.tail()

**What does "NaN" mean?**

- "NaN" is not a string, rather it's a special value: **`numpy.nan`**.
- It stands for "Not a Number" and indicates a **missing value**.
- **`read_csv`** detects missing values (by default) when reading the file, and replaces them with this special value.

Documentation for [**`read_csv`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

In [ ]:
# 'isnull' returns a DataFrame of booleans (True if missing, False if not missing)
ufo.isnull().tail()

In [ ]:
# 'nonnull' returns the opposite of 'isnull' (True if not missing, False if missing)
ufo.notnull().tail()

Documentation for [**`isnull`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isnull.html) and [**`notnull`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.notnull.html)

In [ ]:
# count the number of missing values in each Series
ufo.isnull().sum()

This calculation works because:

1. The **`sum`** method for a DataFrame operates on **`axis=0`** by default (and thus produces column sums).
2. In order to add boolean values, pandas converts **`True`** to **1** and **`False`** to **0**.

In [ ]:
pd.Series([True,False,True]).sum()

In [ ]:
# use the 'isnull' Series method to filter the DataFrame rows
ufo[ufo.City.isnull()].shape

**How to handle missing values** depends on the dataset as well as the nature of your analysis. Here are some options:

In [ ]:
# examine the number of rows and columns
ufo.shape

In [ ]:
# if 'any' values are missing in a row, then drop that row
ufo.dropna(how='any').shape

Documentation for [**`dropna`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html)

In [ ]:
# 'inplace' parameter for 'dropna' is False by default, thus rows were only dropped temporarily
ufo.shape

In [ ]:
# if 'all' values are missing in a row, then drop that row (none are dropped in this case)
ufo.dropna(how='all').shape

In [ ]:
# if 'any' values are missing in a row (considering only 'City' and 'Shape Reported'), then drop that row
ufo.dropna(subset=['City', 'Shape Reported'], how='any').shape

In [ ]:
# if 'all' values are missing in a row (considering only 'City' and 'Shape Reported'), then drop that row
ufo.dropna(subset=['City', 'Shape Reported'], how='all').shape

In [ ]:
# 'value_counts' does not include missing values by default
ufo['Shape Reported'].value_counts().head()

In [ ]:
# explicitly include missing values
ufo['Shape Reported'].value_counts(dropna=False).head()

Documentation for [**`value_counts`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)

In [ ]:
# fill in missing values with a specified value
ufo['Shape Reported'].fillna(value='VARIOUS', inplace=True)

Documentation for [**`fillna`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.fillna.html)

In [ ]:
# confirm that the missing values were filled in
ufo['Shape Reported'].value_counts()

[Working with missing data in pandas](http://pandas.pydata.org/pandas-docs/stable/missing_data.html)

## 17. What do I need to know about the pandas index? (Part 1)

In [ ]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/drinksbycountry.csv')
drinks.head()

In [ ]:
# every DataFrame has an index (sometimes called the "row labels")
drinks.index

In [ ]:
# column names are also stored in a special "index" object
drinks.columns

In [ ]:
# neither the index nor the columns are included in the shape
drinks.shape

In [ ]:
# index and columns both default to integers if you don't define them
pd.read_table('C:/Preema/Other_Respo/Python Training/Datasets/movieusers.txt', header=None, sep='|').head()

**What is the index used for?**

1. identification
2. selection
3. alignment

In [ ]:
# identification: index remains with each row when filtering the DataFrame
drinks[drinks.continent=='South America']

In [ ]:
# selection: select a portion of the DataFrame using the index
drinks.loc[23, 'beer_servings']

Documentation for [**`loc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)

In [ ]:
# set an existing column as the index
drinks.set_index('country', inplace=True)
drinks.head()

Documentation for [**`set_index`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html)

In [ ]:
# 'country' is now the index
drinks.index

In [ ]:
# 'country' is no longer a column
drinks.columns

In [ ]:
# 'country' data is no longer part of the DataFrame contents
drinks.shape

In [ ]:
# country name can now be used for selection
drinks.loc['Brazil', 'beer_servings']

In [ ]:
# index name is optional
drinks.index.name = None
drinks.head()

In [ ]:
# restore the index name, and move the index back to a column
drinks.index.name = 'country'
drinks.reset_index(inplace=True)
drinks.head()

Documentation for [**`reset_index`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html)

In [ ]:
# many DataFrame methods output a DataFrame
drinks.describe()

In [ ]:
# you can interact with any DataFrame using its index and columns
drinks.describe().loc['25%', 'beer_servings']

[Indexing and selecting data](http://pandas.pydata.org/pandas-docs/stable/indexing.html)

## 18. What do I need to know about the pandas index?

In [ ]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/drinksbycountry.csv')
drinks.head()

In [ ]:
# every DataFrame has an index
drinks.index

In [ ]:
# every Series also has an index (which carries over from the DataFrame)
drinks.continent.head()

In [ ]:
# set 'country' as the index
drinks.set_index('country', inplace=True)
drinks.head()

Documentation for [**`set_index`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html)

In [ ]:
# Series index is on the left, values are on the right
drinks.continent.head()

In [ ]:
# another example of a Series (output from the 'value_counts' method)
drinks.continent.value_counts()

Documentation for [**`value_counts`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)

In [ ]:
# access the Series index
drinks.continent.value_counts().index

In [ ]:
# access the Series values
drinks.continent.value_counts().values

In [ ]:
# elements in a Series can be selected by index (using bracket notation)
drinks.continent.value_counts()['Africa']

In [ ]:
# any Series can be sorted by its values
drinks.continent.value_counts()

In [ ]:
# any Series can also be sorted by its index
drinks.continent.value_counts().sort_index()

Documentation for [**`sort_values`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sort_values.html) and [**`sort_index`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sort_index.html)

**What is the index used for?**

1. identification
2. selection
3. alignment

In [ ]:
# 'beer_servings' Series contains the average annual beer servings per person
drinks.beer_servings.head()

In [ ]:
# create a Series containing the population of two countries
people = pd.Series([3000000, 85000], index=['Albania', 'Andorra'], name='population')
people

Documentation for [**`Series`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html)

In [ ]:
# calculate the total annual beer servings for each country
(drinks.beer_servings * people).head()

- The two Series were **aligned** by their indexes.
- If a value is missing in either Series, the result is marked as **NaN**.
- Alignment enables us to easily work with **incomplete data**.

In [ ]:
# concatenate the 'drinks' DataFrame with the 'population' Series (aligns by the index)
pd.concat([drinks, people], axis=1).head()

Documentation for [**`concat`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html)

[Indexing and selecting data](http://pandas.pydata.org/pandas-docs/stable/indexing.html)

## 19. How do I select multiple rows and columns from a pandas DataFrame?

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/uforeports.csv')
ufo.head(3)

In [ ]:
# row 0, all columns
ufo.loc[0, :]

In [ ]:
# rows 0 and 1 and 2, all columns
ufo.loc[[0, 1, 2], :]

In [ ]:
# rows 0 through 2 (inclusive), all columns
ufo.loc[0:2, :]

In [ ]:
# this implies "all columns", but explicitly stating "all columns" is better
ufo.loc[0:2]

In [ ]:
# rows 0 through 2 (inclusive), column 'City'
ufo.loc[0:2, 'City']

In [ ]:
# rows 0 through 2 (inclusive), columns 'City' and 'State'
ufo.loc[0:2, ['City', 'State']]

In [ ]:
# accomplish the same thing using double brackets - but using 'loc' is preferred since it's more explicit
ufo[['City', 'State']].head(3)

In [ ]:
# rows 0 through 2 (inclusive), columns 'City' through 'State' (inclusive)
ufo.loc[0:2, 'State':'City']

In [ ]:
# accomplish the same thing using 'head' and 'drop'
ufo.head(3).drop('Time', axis=1)

In [ ]:
# rows in which the 'City' is 'Oakland', column 'State'
ufo.loc[ufo.City=='Oakland', 'State']

In [ ]:
# accomplish the same thing using "chained indexing" - but using 'loc' is preferred since chained indexing can cause problems
ufo[ufo.City=='Oakland'].State

The [**`iloc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html) method is used to select rows and columns by **integer position**. You can pass it:

- A single integer position
- A list of integer positions
- A slice of integer positions
- A colon (which indicates "all integer positions")

In [ ]:
# rows in positions 0 and 1, columns in positions 0 and 3
ufo.iloc[[0, 1], [0, 3]]

In [ ]:
# rows in positions 0 through 2 (exclusive), columns in positions 0 through 4 (exclusive)
ufo.iloc[0:2, 0:4]

In [ ]:
# rows in positions 0 through 2 (exclusive), all columns
ufo.iloc[0:2, :]

In [ ]:
# accomplish the same thing - but using 'iloc' is preferred since it's more explicit
ufo[0:2]

The [**`ix`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.ix.html) method is used to select rows and columns by **label or integer position**, and should only be used when you need to mix label-based and integer-based selection in the same call.

In [ ]:
# read a dataset of alcohol consumption into a DataFrame and set 'country' as the index
drinks = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/drinksbycountry.csv', index_col='country')
drinks.head()

In [ ]:
# row with label 'Albania', column in position 0
drinks.ix['Albania', 0]

In [ ]:
# row in position 1, column with label 'beer_servings'
drinks.ix[1, 'beer_servings']

**Rules for using numbers with `ix`:**

- If the index is **strings**, numbers are treated as **integer positions**, and thus slices are **exclusive** on the right.
- If the index is **integers**, numbers are treated as **labels**, and thus slices are **inclusive**.

In [ ]:
# rows 'Albania' through 'Andorra' (inclusive), columns in positions 0 through 2 (exclusive)
drinks.ix['Albania':'Andorra', 0:2]

In [ ]:
# rows 0 through 2 (inclusive), columns in positions 0 through 2 (exclusive)
ufo.ix[0:2, 0:2]

[Summary of the pandas API for selection](https://github.com/pydata/pandas/issues/9595)

## 20. When should I use the "inplace" parameter in pandas?

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/uforeports.csv')
ufo.head()

In [ ]:
ufo.shape

In [ ]:
# remove the 'City' column (doesn't affect the DataFrame since inplace=False)
ufo.drop('City', axis=1).head()

In [ ]:
# confirm that the 'City' column was not actually removed
ufo.head()

In [ ]:
# remove the 'City' column (does affect the DataFrame since inplace=True)
ufo.drop('City', axis=1, inplace=True)

In [ ]:
# confirm that the 'City' column was actually removed
ufo.head()

In [ ]:
# drop a row if any value is missing from that row (doesn't affect the DataFrame since inplace=False)
ufo.dropna(how='any').shape

In [ ]:
# confirm that no rows were actually removed
ufo.shape

In [ ]:
# use an assignment statement instead of the 'inplace' parameter
ufo = ufo.set_index('Time')
ufo.tail()

# 21. More of Your pandas Questions Answered

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/uforeports.csv')
ufo.head()

**Question:** Why are DataFrame slices inclusive when using **`.loc`**, but exclusive when using **`.iloc`**?

In [ ]:
# label-based slicing is inclusive of the start and stop
ufo.loc[0:4, :]

In [ ]:
# position-based slicing is inclusive of the start and exclusive of the stop
ufo.iloc[0:4, :]

Documentation for [**`loc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html) and [**`iloc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html)

In [ ]:
# 'iloc' is simply following NumPy's slicing convention...
ufo.values[0:4, :]

In [ ]:
# ...and NumPy is simply following Python's slicing convention
'python'[0:4]

In [ ]:
# 'loc' is inclusive of the stopping label because you don't necessarily know what label will come after it
ufo.loc[0:4, 'City':'State']

**Question:** How do I randomly sample rows from a DataFrame?

In [ ]:
# sample 3 rows from the DataFrame without replacement (new in pandas 0.16.1)
ufo.sample(n=3)

Documentation for [**`sample`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sample.html)

In [ ]:
# use the 'random_state' parameter for reproducibility
ufo.sample(n=3, random_state=30)

In [ ]:
# sample 75% of the DataFrame's rows without replacement
train = ufo.sample(frac=0.75, random_state=99)
train.head()

In [ ]:
# store the remaining 25% of the rows in another DataFrame
test = ufo.loc[~ufo.index.isin(train.index), :]

Documentation for [**`isin`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.isin.html)

## 22. How do I create map variables in pandas?

In [ ]:
import pandas as pd

In [ ]:
# read the training dataset from Kaggle's Titanic competition
train = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/kaggletrain.csv')
train.head()

In [ ]:
# create the 'Sex_male' dummy variable using the 'map' method
train['Sex_male'] = train.Sex.map({'female':0, 'male':1})
train.head()

Documentation for [**`map`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.map.html)

## 23. How do I work with dates and times in pandas?

In [ ]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/uforeports.csv')
ufo.head()

In [ ]:
# 'Time' is currently stored as a string
ufo.dtypes

In [ ]:
# hour could be accessed using string slicing, but this approach breaks too easily
ufo.Time.str.slice(-5, -3).astype(int).head()

In [ ]:
# convert 'Time' to datetime format
ufo['Time'] = pd.to_datetime(ufo.Time)
ufo.head()

In [ ]:
ufo.dtypes

Documentation for [**`to_datetime`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)

In [ ]:
# convenient Series attributes are now available
ufo.Time.dt.hour.head()

In [ ]:
ufo.Time.dt.weekday_name.head()

In [ ]:
ufo.Time.dt.dayofyear.head()

API reference for [datetime properties and methods](http://pandas.pydata.org/pandas-docs/stable/api.html#datetimelike-properties)

In [ ]:
# convert a single string to datetime format (outputs a timestamp object)
ts = pd.to_datetime('1/1/1999')
ts

In [ ]:
# compare a datetime Series with a timestamp
ufo.loc[ufo.Time >= ts, :].head()

In [ ]:
# perform mathematical operations with timestamps (outputs a timedelta object)
ufo.Time.max() - ufo.Time.min()

In [ ]:
# timedelta objects also have attributes you can access
(ufo.Time.max() - ufo.Time.min()).days

In [ ]:
# allow plots to appear in the notebook
%matplotlib inline

In [ ]:
# count the number of UFO reports per year
ufo['Year'] = ufo.Time.dt.year
ufo.Year.value_counts().sort_index().head()

In [ ]:
# plot the number of UFO reports per year (line plot is the default)
ufo.Year.value_counts().sort_index().plot()

## 24. How do I find and remove duplicate rows in pandas?

In [ ]:
# read a dataset of movie reviewers into a DataFrame
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('C:/Preema/Other_Respo/Python Training/Datasets/movieusers.txt', sep='|', header=None, names=user_cols, index_col='user_id')
users.head()

In [ ]:
users.shape

In [ ]:
# detect duplicate zip codes: True if an item is identical to a previous item
users.zip_code.duplicated().tail()

In [ ]:
# count the duplicate items (True becomes 1, False becomes 0)
users.zip_code.duplicated().sum()

In [ ]:
# detect duplicate DataFrame rows: True if an entire row is identical to a previous row
users.duplicated().tail()

In [ ]:
# count the duplicate rows
users.duplicated().sum()

Logic for [**`duplicated`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.duplicated.html):

- **`keep='first'`** (default): Mark duplicates as True except for the first occurrence.
- **`keep='last'`**: Mark duplicates as True except for the last occurrence.
- **`keep=False`**: Mark all duplicates as True.

In [ ]:
# examine the duplicate rows (ignoring the first occurrence)
users.loc[users.duplicated(keep='first'), :]

In [ ]:
# examine the duplicate rows (ignoring the last occurrence)
users.loc[users.duplicated(keep='last'), :]

In [ ]:
# examine the duplicate rows (including all duplicates)
users.loc[users.duplicated(keep=False), :]

In [ ]:
# drop the duplicate rows (inplace=False by default)
users.drop_duplicates(keep='first').shape

In [ ]:
users.drop_duplicates(keep='last').shape

In [ ]:
users.drop_duplicates(keep=False).shape

Documentation for [**`drop_duplicates`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop_duplicates.html)

In [ ]:
# only consider a subset of columns when identifying duplicates
users.duplicated(subset=['age', 'zip_code']).sum()

In [ ]:
users.drop_duplicates(subset=['age', 'zip_code']).shape

In [ ]:
# read a dataset of alcohol consumption into a DataFrame
drinks = pd.read_csv('C:/Preema/Other_Respo/Python Training/Datasets/drinksbycountry.csv')

In [ ]:
# only 60 rows will be displayed when printing
drinks

## 25. How do I create a pandas DataFrame from another object?

In [ ]:
import pandas as pd

In [ ]:
# create a DataFrame from a dictionary (keys become column names, values become data)
pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']})

In [ ]:
# optionally specify the order of columns and define the index
df = pd.DataFrame({'id':[100, 101, 102], 'color':['red', 'blue', 'red']}, columns=['id', 'color'], index=['a', 'b', 'c'])
df

Documentation for [**`DataFrame`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html)

In [ ]:
# create a DataFrame from a list of lists (each inner list becomes a row)
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']], columns=['id', 'color'])

In [ ]:
# create a NumPy array (with shape 4 by 2) and fill it with random numbers between 0 and 1
import numpy as np
arr = np.random.rand(4, 2)
arr

In [ ]:
# create a DataFrame from the NumPy array
pd.DataFrame(arr, columns=['one', 'two'])

In [ ]:
# create a DataFrame of student IDs (100 through 109) and test scores (random integers between 60 and 100)
pd.DataFrame({'student':np.arange(100, 110, 1), 'test':np.random.randint(60, 101, 10)})

Documentation for [**`np.arange`**](http://docs.scipy.org/doc/numpy/reference/generated/numpy.arange.html) and [**`np.random`**](http://docs.scipy.org/doc/numpy/reference/routines.random.html)